
  .option-group {
    flex-basis: 48%;
  }

  .option-group__label {
    margin-bottom: 8px;
  }
  
  .option-group__select {
    height: 44px;
    position: relative;
    border: 1px solid $gray-borders;

    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 10px;
      position: absolute;
      background: url('./../images/arrow.svg');
      background-repeat: no-repeat;
      right: 10;
      top: 16px;
      z-index: -1;
    }
    
    .option-group__value {
      font-size: 12px;
      line-height: 40px;
      box-sizing: border-box;
      padding: 0 10px;  
    }
    select {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0;
      display: block;
      border: 1px solid #ccc;
    }
  }
  