.color-selector {
    margin: 12px 0 24px;
}

.color-selector__selection-label {
    margin-bottom: 14px;

    span {
        display: inline-block;
        margin-left: 5px;
        font-weight: 700;
        text-transform: uppercase;
    }
}


.color-selector__palets-container {
    display: flex;
    justify-content: space-between;
    max-width: 245px;
}

.color-selector__color {
    padding: 12px;
    border-radius: 50px;
    display: inline-block;
    border: 3px solid;

    &.selected {
        border-color: $gray-selection;
    }
}

.color-selector__color--naked-1 {
    background: $color1;
    border-color: $color1;
}

.color-selector__color--naked-2 {
    background: $color2;
    border-color: $color2;
}

.color-selector__color--naked-3 {
    background: $color3;
    border-color: $color3;
}

.color-selector__color--naked-4 {
    background: $color4;
    border-color: $color4;
}

.color-selector__color--naked-5 {
    background: $color5;
    border-color: $color5;
}