.heading {
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: -80px;
}

.heading__ghost-column {
    flex-basis: 60%;
}

.heading__wrapper {
    flex-basis: 38%;
}