.heading {
    padding: 20px 0;
    text-align: center;
}

.heading__title {
    font-size: 24px;
    font-family: 'Abhaya Libre', serif;
    font-weight: 500;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: $gray-dark;
    margin-bottom: 4px;
}

.heading__price {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $gray-light;
}