.description {
    margin: 5px 0;
    padding: 0 16px;
}

.description__title {
    color: $gray-dark;
    padding-bottom: 14px;
    border-bottom: 3px solid $gray-lighter-bg;
    margin-bottom: 35px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5;
}

.description__body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.77;
    letter-spacing: normal;
    color: $gray-4;

    ul {
        list-style: disc;
        margin: 20px;
    }

    li {
        margin: 10px 0;
    }
}