.actions {
    padding: 12px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1.5;
    font-size: 13px;
    font-weight: 100;
    line-height: 1.54;
}

.actions__options {
}

.actions__stock {
    margin-bottom: 24px;

    span {
        display: inline-block;
        margin-left: 5px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.actions__size-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions__submit {
    margin: 20px 0;
    button {
        width: 100%;
    }
}
