.gallery {
    .thumbs-wrapper {
        display: none;
    }
    .control-dots .dot {
        background: $gray-lighter;

        &.selected {
            background: $gray-4;
        }
    }
    .slider .slide {}
}