.gallery {
    display: flex;
    flex-basis: 60%;
    
    
    // Styles overrides for gallery carousel component
    .carousel-slider {
        order: 2;
        flex-basis: 90%;
    }

    .carousel-slider + .carousel {
        flex-basis: 10%;
    }

    .thumbs-wrapper {
        display: block;
        margin: 0;

        .thumbs[style] {
            display: flex;
            flex-direction: column;
            transform: none !important; // necessary to override carousel's library inline style
        }

        .control-arrow {
            display: none;
        }

        .thumb {
            width: 74px;
            height: 80px;
        }
    }

    .control-dots {
        display: none;
    }
} 