// Screens
$screen-small: 520px;
$screen-medium: 769px;
$screen-large: 1024px;

// Colors
$white: #fff;
$gray-dark: #222;
$gray-4: #444;
$gray-lighter: #ccc;
$gray-light: #666;
$black: #000;
$gray-light-bg: #f5f5f5;
$gray-lighter-bg: #f7f7f7;
$gray-medium-bg: #f1f1f1;
$gray-dark-bg: #dddddd;
$color1: #ffefe6;
$color2: #dab5a1;
$color3: #d49d89;
$color4: #6a3a33;
$color5: #524346;
$gray-selection: #c9c9c9;
$gray-borders: #e0e0e0;